h1 {
  padding-bottom: 40px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  background-image: url("./../public/asset/cielo2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.img-fluid {
  height: 15vh;
}
.izda,
.ctr,
.dcha {
  min-width: 150px;
}
